<link rel="stylesheet" href="../css/advantages.css" />
<section class="adv-section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="adv-wrap">
      <ol class="adv-list">
        <li class="adv-list-item">
          <h2 class="adv-list-item-subtitle">01</h2>
          <p class="adv-list-paragraph">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="adv-list-item">
          <h2 class="adv-list-item-subtitle">02</h2>
          <p class="adv-list-paragraph">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="adv-list-item">
          <h2 class="adv-list-item-subtitle">03</h2>
          <p class="adv-list-paragraph">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="adv-list-item">
          <h2 class="adv-list-item-subtitle">04</h2>
          <p class="adv-list-paragraph">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
      <picture>
        <source
          srcset="
            ../img/advantages/yacht-375.jpg    1x,
            ../img/advantages/yacht-375@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ../img/advantages/yacht-768.jpg 1x,
            ../img/advantages/yacht-768@2x  2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ../img/advantages/yacht-1280.jpg    1x,
            ../img/advantages/yacht-1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="adv-img"
          src="../img/advantages/yacht-375.jpg"
          alt="room in the yacht"
          width="335px"
        />
      </picture>
    </div>
  </div>
</section>
