<footer class="footer">
  <div class="footer-container">
    <div class="footer-tablet-wraper">
      <div class="footer-wraper">
        <a href="./index.html" class="footer-logo">yachtjet</a>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <button type="button" class="footer-nav-button">About</button>
          </li>
          <li class="footer-nav-item">
            <button type="button" class="footer-nav-button">Yachts</button>
          </li>
          <li class="footer-nav-item">
            <button type="button" class="footer-nav-button">Reviews</button>
          </li>
        </ul>
      </div>
      <div class="footer-socials">
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-links"
              href="https://www.instagram.com/"
              target="_blank"
              rel="instagram"
              aria-label="instagram"
            >
              <svg class="footer-socials-icon" width="19" height="19">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-links"
              href="https://www.youtube.com/"
              target="_blank"
              rel="youtube"
              aria-label="youtube"
            >
              <svg class="footer-socials-icon" width="20" height="20">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-links"
              href="https://www.facebook.com/"
              target="_blank"
              rel="facebook"
              aria-label="facebook"
            >
              <svg class="footer-socials-icon" width="20" height="20">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-text-wraper">
      <p class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>
    <div class="footer-undertext-wraper">
      <p class="footer-undertext-text">2023. Yacht Adventures</p>
      <a class="footer-undertext-links" href="">Privacy Police</a>
    </div>
  </div>
</footer>

<!-- MOBILE -->

<div class="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <a href="./index.html" class="mobile-menu-header-logo">yachtjet</a>
      <button class="mobile-menu-button-closer" type="button">
        <svg class="mobile-menu-button-closer-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-closer"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <button type="button" class="mobile-menu-nav-button accent">
            About
          </button>
        </li>
        <li class="mobile-menu-nav-item">
          <button type="button" class="mobile-menu-nav-button">Yachts</button>
        </li>
        <li class="mobile-menu-nav-item">
          <button type="button" class="mobile-menu-nav-button">Reviews</button>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-socials">
      <ul class="mobile-menu-socials-list">
        <li class="mobile-menu-socials-item">
          <a
            class="mobile-menu-socials-links"
            href="https://www.instagram.com/"
            target="_blank"
            rel="instagram"
            aria-label="instagram"
          >
            <svg class="mobile-menu-socials-icon" width="19" height="19">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-socials-item">
          <a
            class="mobile-menu-socials-links"
            href="https://www.youtube.com/"
            target="_blank"
            rel="youtube"
            aria-label="youtube"
          >
            <svg class="mobile-menu-socials-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-socials-item">
          <a
            class="mobile-menu-socials-links"
            href="https://www.facebook.com/"
            target="_blank"
            rel="facebook"
            aria-label="facebook"
          >
            <svg class="mobile-menu-socials-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
