<header class="header">
  <div class="header-container">
    <div class="header-logo-wraper">
      <a href="./index.html" class="header-logo">yachtjet</a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <button type="button" class="header-nav-button">
            <a href="#about-cont" class="header-nav-button-links">About</a>
          </button>
        </li>
        <li class="header-nav-item">
          <button type="button" class="header-nav-button">
            <a href="#our-yachts" class="header-nav-button-links">Yachts</a>
          </button>
        </li>
        <li class="header-nav-item">
          <button type="button" class="header-nav-button">
            <a href="#rewiews-cont" class="header-nav-button-links">Reviews</a>
          </button>
        </li>
      </ul>
    </nav>
    <div class="header-socials">
      <ul class="header-socials-list">
        <li class="header-socials-item">
          <a
            class="header-socials-links"
            href="https://www.instagram.com/"
            target="_blank"
            rel="instagram"
            aria-label="instagram"
          >
            <svg class="header-socials-icon" width="19" height="19">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            class="header-socials-links"
            href="https://www.youtube.com/"
            target="_blank"
            rel="youtube"
            aria-label="youtube"
          >
            <svg class="header-socials-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            class="header-socials-links"
            href="https://www.facebook.com/"
            target="_blank"
            rel="facebook"
            aria-label="facebook"
          >
            <svg class="header-socials-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="menu-button" aria-label="menu button" type="button">
      <svg class="menu-button-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-mobilemenu"></use>
      </svg>
    </button>
  </div>
</header>
