<section class="rent-a-yacht">
  <div class="conteiner rent-container">
    <!-- <h2 class="rent-title">Rent a yacht now</h2> -->
    <div class="rent-wrap">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-form">
        <input
          type="text"
          name="rent-lable-name"
          class="rent-input"
          id="rent-lable-name"
          placeholder="Full Name"
        />
        <input
          type="email"
          name="rent-lable-email"
          class="rent-input"
          id="rent-lable-email"
          placeholder="Email"
        />
        <input
          type="tel"
          name="rent-lable-phone"
          class="rent-input"
          id="rent-lable-phone"
          placeholder="Phone number"
        />
        <textarea
          name="rent-user-comment"
          id="rent-user-comment"
          placeholder="Comment"
          class="rent-input rent-comment"
        ></textarea>
        <button type="submit" class="rent-button">Send</button>
      </form>
    </div>
    <picture>
      <source
        srcset="
          ./img/rent-a-yacht/rent-img-pc-1x-min.jpg 1x,
          ./img/rent-a-yacht/rent-img-pc-2x-min.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/rent-a-yacht/rent-img-tab-1x-min.jpg 1x,
          ./img/rent-a-yacht/rent-img-tab-2x-min.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/rent-a-yacht/rent-img-mob-1x-min.jpg 1x,
          ./img/rent-a-yacht/rent-img-mob-2x-min.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="rent-img"
        src="../img/rent-a-yacht/rent-img-pc-1x-min.jpg"
        alt="Yaht Image"
        width="768"
        height="534"
      />
    </picture>
  </div>
</section>
