<section class="section rewiews" id="rewiews-cont">
  <div class="rewiews-container container">
    <h2 class="rewiews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <div class="rewiews-text-wraper">
      <p class="rewiews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="rewiews-list">
      <li class="rewiews-item">
        <img
          class="rewiews-img"
          srcset="
            ./img/reviews/JohnWax1x.jpg 1x,
            ./img/reviews/JohnWax2x.jpg 2x
          "
          src="./img/reviews/JohnWax1x.jpg"
          alt="John Wax"
          width="56"
          height="56"
        />
        <div class="rewiews-underimg-grup">
          <h3 class="rewiews-underimg-title">John Wax</h3>
          <p class="rewiews-underimg-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="rewiews-item second">
        <img
          class="rewiews-img"
          srcset="
            ./img/reviews/VictoriaRomashenko1x.jpg 1x,
            ./img/reviews/VictoriaRomashenko2x.jpg 2x
          "
          src="./img/reviews/VictoriaRomashenko1x.jpg"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <div class="rewiews-underimg-grup">
          <h3 class="rewiews-underimg-title">Victoria Romashenko</h3>
          <p class="rewiews-underimg-text victoria">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="rewiews-item third">
        <img
          class="rewiews-img"
          srcset="
            ./img/reviews/IhorTrachuk1x.jpg 1x,
            ./img/reviews/IhorTrachuk2x.jpg 2x
          "
          src="./img/reviews/IhorTrachuk1x.jpg"
          alt="Ihor Trachuk"
          width="56"
          height="56"
        />
        <div class="rewiews-underimg-grup">
          <h3 class="rewiews-underimg-title">Ihor Trachuk</h3>
          <p class="rewiews-underimg-text ihor">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
