.rent-container {
  width: 100%;
  /* max-width: 375px; */
  /* min-width: 320px; */
  background-color: #0e1823;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
}
.rent-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rent-title {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.rent-input {
  color: rgba(251, 251, 251, 0.4);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  border-radius: 12px;
  padding: 14px 0 14px 18px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  outline: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  margin-bottom: 18px;
  width: 100%;
}
.rent-comment {
  min-height: 108px;
  margin-bottom: 40px;
}
.rent-button {
  display: inline-flex;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;

  color: #fbfbfb;
  width: 122px;
  padding: 14px 44px;

  border-radius: 15px;
  background: #1b414b;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 80px;
}

.rent-button:hover,
.rent-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
.rent-img {
  display: block;
  width: 100%;
  border-radius: 24px;
  object-fit: contain;
}
